*.DS_Store

*.o
*.pdf
*.blg
*.out
*.log
~*
.*.swp
*.s
.cache
compile_commands.json
.ccls-cache
.gdb_history
.vscode
.vimspector.json

node_modules
src/bins/*

src/results/*
src/automate/dist
src/automate/bitcoin-core-bridge/passes
src/automate/bitcoin-core-bridge/*.ll
src/automate/bitcoin-core-bridge/pre-*.json
src/automate/bitcoin-core-bridge/pre-*.c

src/automate/script-collection/clean_resultsfolder/results
src/automate/script-collection/clean_resultsfolder/worker.log
src/automate/script-collection/clean_resultsfolder/curveQ
src/automate/script-collection/clean_resultsfolder/curve_worker_lock
